.button{
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 200px;
    height: 80px;
    font-size:30px;
    color: green;
    font-family: Helvetica;
    font-weight: 400;
    border: 5px solid #008000;
    letter-spacing: 5px;
    border-radius: 100px;
    transition: 1s;
}

.button:hover{
     box-shadow: 0 5px 50px 0 #008000 inset, 0 5px 50px 0 greenyellow, 0 5px 50px 0 #008000 inset, 0 5px 50px 0 #008000;
    text-shadow: 0 5px 50px 0 greenyellow,0 5px 50px 0 #008000;
}






