
:root {
    --select-border: #777;
    --select-focus: #008000;
    --select-arrow: var(--select-border);
}
.select {
    width: 45%;
    min-width: 20ch;
    max-width: 100ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: lightgreen;
    background-image: linear-gradient(to top, black, #fff 33%);
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

option :hover{
    background: black;
    font-weight:bold;
}






